<%- include("partials/header.ejs") %>

<div class="horizontal-container">
  <% if(totalScore) { %>
  <h3>
      Total Score : <%= totalScore %>
  </h3>
  <% } %>
</div>

<div id="right-timer">
<% if (startTime) { %>
  <p>残り時間 : <span id="timer"></span> 秒</p>
<% } %>
</div>

<% if(isGameOn) { %>
  <h1><%= question%></h1>
  <img src="<%= imagePath %>" alt="Pokemon Image" style="max-width: 300px;"/>
<% } else if(imagePath) { %>
  <img src="<%= imagePath %>" alt="Pokemon Image" style="max-width: 300px;"/>
  <h1>Welcome to コバ研ポケモン大会!</h1>
<% } else { %>
  <h1><%= question%></h1>
  <%} %>


<form action="<%= action %>" method="POST">
  <div class="form-container">
  <% if(action === "/check-answer") { %>
    <input type="text" name="userAnswer" placeholder="Enter Pokémon Name" required class="input-large" autofocus autocomplete="off"/>
  <% } %>
    <button type="submit"><%= button %></button>
  </div>
</form>

<% if(action === "/check-answer") { %>
  <form action="/question" method="POST">
    <button type="submit" id="skip-button">Skip</button>
  </form>
<% } %>

<% if(resultMessage) { %>
  <h2><%= resultMessage %></h2>
<% } %>
<%- include("partials/footer.ejs") %>
