<%- include("partials/header.ejs") %>

<div class="horizontal-container">
  <% if(totalScore) { %>
  <h3>
      Total Score : <%= totalScore %>
  </h3>
  <% } %>
</div>

<% if(imagePath) { %>
  <h1>このポケモンの名前は？</h1>
  <img src="<%= imagePath %>" alt="Pokemon Image" style="max-width: 300px;"/>
<% } else { %>
  <img src="/pokemon/6-mega-x.png" alt="Pokemon Image" style="max-width: 300px;"/>
  <h1>Welcome to 小研ポケモン大会!</h1>
<% } %>

<form action="<%= action %>" method="POST">
  <div class="form-container">
  <% if(action === "/check-answer") { %>
    <input type="text" name="userAnswer" placeholder="Enter Pokémon Name" required class="input-large" autofocus autocomplete="off"/>
  <% } %>
    <button type="submit"><%= button %></button>
  </div>
</form>

<% if(action === "/check-answer") { %>
  <form action="/question" method="POST">
    <button type="submit" id="skip-button">Skip</button>
  </form>
<% } %>

<% if(resultMessage) { %>
  <h2><%= resultMessage %></h2>
<% } %>

<%- include("partials/footer.ejs") %>
